.icon {
    color: black;
    display: none;
}
@font-face {
    font-family: SourceSans;
    src: url(/css/source-font/SourceSansPro-Regular.ttf)
}



html {
    font-family: SourceSans;
    background: #dadada;
}

/*Header*/


#header {
    background: #f2f2f2;
    position: fixed;
    width: 100%;
    padding: 1em;
}

#title {
    color: black;
    font-size: 2em;
    font-style: normal;
    text-decoration: none;
}

.header-list {
    font-size: 1.5em;
    float: right;
    margin-right: 3em;
    margin-top: 0.5em;
    color: black;
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */

  #title {
      font-size: 1.5em;

  }
  .header-list {
      float: none;
      position: sticky;
      margin-right: 0;
      margin-top: 0;
      margin-left: 1em;
      text-decoration: none;
      color: #8c1f1f;
  }

}

#below-header{
    background-image: url("nzcave.JPG");
    height: 500px;
    width: 100%;
    /* parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#main {
    margin: 25px;
}
h1 {
    font-size: 1.5em;
}

#footer {
    position: fixed;
    bottom: 0;
    /* padding-left: 45%; */
    background-color: black;
    width: 100%;
    
}
#footer img {
    width: 1em;
    padding: .5em;
    -webkit-filter: invert(1);
    filter: invert(1);
}