@font-face {
    font-family: SourceSans;
    src: url(/css/source-font/SourceSansPro-Regular.ttf)
}


html {
    font-family: SourceSans;
}

/*Header*/

#header {
    background: white;
    position: fixed;
    width: 100%;
    padding: 1em;
    border: 5px solid black;
    border-radius: 5px;
    border-top: 0px;
}

#title {
    color: black;
    font-size: 2em;
    font-style: normal;
    text-decoration: none;
}

.header-list {
    font-size: 1em;
    float: right;
    margin-right: 3em;
    margin-top: 0.5em;
    color: black;
}

#below-header{
    background-image: url("nzcave.JPG");
    height: 500px;
    width: 100%;
    /* parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer {
    position: absolute;
    bottom: 0;
    display:flex;
    align-items:flex-end;
    padding-left: 45%;
}
#footer img {
    width: 2em;
    padding: 1em;
}