@font-face {
  font-family: " Andale Mono";
  src: url(assets/Oswald-ExtraLight.ttf);
  color: white;
}

html {
  color: #dfe3e2;
  background: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-size: 2em;
  padding-top: 15px;
  padding-bottom: 25px;
}
a {
  color: #dfe3e2;
  text-decoration: none;
}
