
@font-face {
  font-family: Oswald;
  src: url(assets/Oswald-ExtraLight.ttf);
}

/*
html {
  background: url(assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#splash-header {
  position: absolute;
  font: 6vw Oswald, sans-serif;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
}

.centered li {
  float: left;
  padding-left: 3vw;
  text-decoration: none;
  color: white;
  font: 4vw Oswald, sans-serif;
  padding-bottom: 3vw;
}

.centered ul {
  padding-bottom: 3vw;
}

div {
  position: absolute;
  font: 1vw Oswald, sans-serif;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-40%, 40%);
}
button {
  background-color: none;
  text-decoration: none;
  color: white;
}
div {
  color: white;
}



.items {
  transition: 50ms;
}

.items:hover {
  color: red;
  cursor: pointer;
}

#text ul{
  padding-left: 20%;
  list-style: circle;
}

#text a {
  text-decoration: none;
} */


html {
  background: url(assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 6vw Oswald, sans-serif;
  color: white;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
